*{margin: 0;
padding: 0;
box-sizing: border-box;}
body
{font-family: Georgia, 'Times New Roman', Times, serif;
line-height: normal;
color: black;
background-color: rgb(231, 219, 204);}
/* nav bar */
.navbar{background: black;
    padding: 5px;
top: 0;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
body{
    background: transparent;
}
.logo
{font-size: 2rem;
font-weight: bold;
color: rgb(46, 46, 202);}
.links{list-style: none;
display: flex;
gap: 20px;
}
.links a
{ color: #fff;
    text-decoration: none;
    border-radius: 5px;}

 .resume-btn{
    background-color: #1e258e;
    padding: 5px;

 }
    
      

/* section 1 */
.hero-image{margin-top: 20px;
animation: bounce 2s ;}

.hero-image img{max-width: 700px;
width: 100%;
height: auto;}

.hero-section{display: flex;
align-items: center;
justify-content: center;
padding: 50px;
background-color: white
;
animation: hero-section 10s ;
border-radius: 10px;

/* position: relative;
animation-timing-function: ease-in-out; */
}

.hero-content{max-width: 500px;
text-align: center;}

.hero-content h1{font-size: 2.5rem;
font-weight: bold;
margin-bottom: 20px;
color: #333;
animation: header 3s;
}

.hero-content p{font-size: larger;
line-height: 1.8;
margin: 5px;
animation: para 1s e;}



.hero-section2{margin: 30px;
    border-radius: 6px;
background-color:cornflowerblue;
}
@keyframes hero-section{
    0%{background-color:white; left: 0px; top: 0px;}
    25%{background-color:rgb(67, 67, 231); left: 200px; top: 0px;}
    50%{background-color: darkcyan; left: 0px; top: 200px;}
    75%{background-color: burlywood; left: 200px; top: 0px;}
    100%{background-color: white;left: 0px; top: 0px;}
}

.skills h2{text-align: center;
text-decoration: underline; color: rgb(32, 35, 218);
font-weight: 5000;
margin-top: 10px;}

.hero-section2 h3{font-weight: bold;
color:rgb(22, 22, 145);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 10px;
margin: 5px;}

.hero-section2 li{font-size: large;
color: white;
font-style: italic;}

footer{
    background: #333;
    color: #f8f9fa
    ;
    text-align: center;
    padding: 20px 20px;
    height: 5rem;
    bottom: 0;
    position: relative;
    width: 100%;
}
.social-links a{margin: 5px;}
footer a{color: blue;
text-decoration: none;}

#style{
font-weight: bolder;
font-size: 20px;
color: rgba(53, 53, 221, 0.925);
text-align: center;
}
 a:hover {
    color: blue;
}
.social-links:hover{
    color: #f8f9fa;
}
.container > .hamburger{
    display: none;
}
@keyframes bounce{0%, 100%{transform: translateY(0);}
50%{transform: translateY(-30px);}
70%{transform: rotateX(180deg);}}
 
@keyframes header{
    70%{transform: rotateY(180deg);}
}
@keyframes para{
    from {transform: rotateX(-100%);}
to{transform: rotateY(0);}
}
@media screen and (max-width: 767px)
 {.container > .links{
    display: inline-block;
}
#style{
display: none;
}

.hero-section{
display: block;
}}
    

.toggle-container{
    position: absolute;
    right: 20px;
    top:10px;
    cursor: pointer
}
.toggle-icon{
   color: blue ;
   font-size: 24px;
   transition: color 0.3s ease;
}

body.dark-mode{
    background-color: black;
    color: white;
}

body.dark-mode .toggle-icon{
    color: white;
}
