body .dark-mode{
    background-color: #000;
    color: #fff;
}
body.dark-mode.theme-toggle{
    color: #f4f4f4;
}

body.dark-mode header{
    background-color: #333;
    color: #f4f4f4;
}
body.dark-mode header.theme-toggle{
    color: #f4f4f4;
}
body.dark-mode a{
    color: #f4f4f4;
}
body.dark-mode footer{
    background-color: #333;
    color: #f4f4f4;
}
 body.dark-mode main{
    background-color: #333;
    color: #f4f4f4;

 }